<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">

    {{ partial "meta.html" . }}

    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Site.Title }} - {{ .Title | lower }}</title>
    <link rel="canonical" href="{{ .Permalink }}">

    {{ partial "head_includes.html" . }}
</head>
<body lang="en">

{{ partial "header.html" . }}
<div class="project_bar_wrap">
  <ul class="project_bar">
    <li class="heading"><a href="/projects">Projects</a> > {{ .Params.project }}</li>
    <li class="project_link"><a href="/{{ .Params.project }}" class="active">Overview</a></li>
  {{ if isset .Params "docs" }}
    <li class="project_link"><a href="{{ .Params.docs }}"><i class="fa fa-book"></i> Docs</a></li>
  {{ end }}
  {{ if isset .Params "github" }}
    <li class="project_link"><a href="http://github.com/{{ .Params.github }}"><i class="fa fa-github"></i> GitHub project</a></li>
    <li class="project_link"><a href="http://github.com/{{ .Params.github }}/issues"><i class="fa fa-bug"></i> Issues</a></li>
{{ end }}
    <li class="project_link"><a href="http://github.com/{{.Params.github}}/releases"><i class="fa fa-download"></i> Download</a></li>
<!--
    <li class="project_link"><a href="download?project={{.Params.project}}"><i class="fa fa-download"></i> Download</a></li>
-->
  </ul>
</div>
<div class="main_wrap">
  <section id="main">
    <h1 id="title">{{ if isset .Params "icon" }}<i class="fa fa-{{.Params.icon}}"></i> {{end}}{{ .Title }}</h1>
    <div>
          <article id="content" class="tutorial">
             {{ .Content }}
          </article>
    </div>
  </section>
</div>

{{ partial "footer.html" . }}
</body>
