<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">

    {{ partial "meta.html" . }}

    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Site.Title }} - {{ .Title | lower }}</title>
    <link rel="canonical" href="{{ .Permalink }}">

    {{ partial "head_includes.html" . }}
</head>
<body lang="en">

{{ partial "header.html" . }}

<div class="main_wrap">
    <h1 id="title">{{ if isset .Params "icon" }}<i class="fa fa-{{.Params.icon}}"></i> {{end}}{{ .Title }}</h1>
    <div id="content" class="content">
             {{ .Content }}
    </div>
</div>

{{ partial "footer.html" . }}
</body>
