body {
  background-color: #ececec;
  margin: 0;
  padding: 0;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 11pt;
}
a {
  color: #0098db;
}
a:hover {
  color: #42c5ff;
}
h1 {
  font-size: 24pt;
  font-weight: 300;
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: 24px;
  padding-bottom: 12px;
  border-bottom: 1px solid #dbf4ff;
}
h2 {
  font-size: 18pt;
  font-weight: 300;
  color: #0075a8;
  margin-top: 24px;
  margin-bottom: 12px;
}
h3 {
  font-size: 14pt;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 6px;
}
h4 {
  font-size: 14pt;
  font-weight: 300;
  color: #0075a8;
  margin-top: 24px;
  margin-bottom: 6px;
}
.header_wrap {
  background-color: #b8b9ba;
  border-bottom: 2px solid #6b6d6e;
}
.header {
  margin-left: auto;
  margin-right: auto;
  width: 1080px;
  height: 90px;
}
.header .logo {
  float: left;
}
.header .slogan {
  margin-top: 16px;
  float: left;
  margin-left: 32px;
  padding: 8px 32px;
  border-left: 1px solid #9ea0a1;
  color: #6b6d6e;
  font-weight: 300;
  font-size: 12pt;
}
.header ul.links {
  padding: 36px 0 0 0;
  margin-right: 24px;
  text-align: right;
}
.header ul.links li.links {
  display: inline-block;
}
.header ul.links li.links a {
  font-size: 12pt;
  padding: 6px 12px;
}
.header a {
  color: #f0f2f5;
}
.header a:hover {
  color: #0098db;
  text-decoration: none;
}
.project_bar_wrap {
  background-color: #39393a;
  border-bottom: 1px solid #6b6d6e;
}
ul.project_bar {
  margin: 0 auto;
  width: 960px;
  color: #f0f2f5;
}
ul.project_bar li.project_link {
  list-style: none;
  display: inline-block;
  font-weight: 300;
}
ul.project_bar li.project_link a {
  display: inline-block;
  padding: 8px 16px;
  color: #ececec;
  border-bottom: 2px solid #39393a;
}
ul.project_bar li.project_link a.active {
  color: #ffffff;
  background-color: #525354;
  text-decoration: none;
  border-bottom: 2px solid #0098db;
}
ul.project_bar li.project_link a:hover {
  color: #ffffff;
  background-color: #6b6d6e;
  text-decoration: none;
  border-bottom: 2px solid #0098db;
}
ul.project_bar li.heading {
  list-style: none;
  display: inline-block;
  font-weight: 300;
  padding: 8px 24px 8px 24px;
  margin-left: -48px;
}
.main_wrap {
  padding: 24px 100px 120px 100px;
  background-color: #ffffff;
  min-height: 400px;
}
#main {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.breadcrumbs {
  margin-left: -24px;
}
.content {
  line-height: 15pt;
}
.content ul {
  margin-top: 0;
  margin-bottom: 24px;
  padding-left: 24px;
}
.content ul li {
  list-style: none;
}
.tutorial {
  line-height: 15pt;
}
.tutorial ul {
  margin-top: 0;
  margin-bottom: 24px;
  padding-left: 24px;
}
.tutorial table {
  margin-left: 24px;
}
.tutorial table td {
  padding: 8px;
}
.footer_wrap {
  border-top: 1px solid #b8b9ba;
}
.footer {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding-top: 32px;
  text-align: right;
  color: #b8b9ba;
}
.footer a:hover {
  color: #0098db;
  text-decoration: none;
}
.clearing {
  clear: both;
  height: 1px;
}
.contact-logos {
  text-align: center;
  width: 320px;
  float: right;
  margin-top: 80px;
}
.contact-logos img {
  margin-bottom: 48px;
  opacity: .80;
}
.contact-logos img:hover {
  opacity: 1.0;
}
.compgen {
  font-weight: bold;
}
.rightbar {
  float: right;
  width: 220px;
  border-left: 1px solid #d2d3d3;
  padding-left: 40px;
  margin-top: 60px;
}
.rightbar h2 {
  margin-top: -24px;
  font-size: 11pt;
  font-weight: bold;
  margin-bottom: 4px;
  color: #6b6d6e;
  text-transform: uppercase;
}
.rightbar ul {
  padding: 0;
  margin: 0;
}
.rightbar ul li {
  list-style: none;
  margin-bottom: 4px;
  font-size: 11pt;
}
.dropdown-header {
  text-align: left;
  padding-left: 12px;
}
.leftbar {
  margin-right: 300px;
}
.table_list {
  padding: 0;
  margin: 0 auto 80px auto;
}
.table_list tr td:first-child {
  white-space: nowrap;
  padding: 8px 10px 0 20px;
}
.table_list tr td.table_heading {
  white-space: nowrap;
  margin-top: 36px;
  margin-bottom: 12px;
  color: #6b6d6e;
  border-bottom: 1px solid #ececec;
  padding: 6px 0;
  font-size: 9pt;
  font-weight: bold;
  text-transform: uppercase;
}
.table_list td {
  padding: 8px 10px 0 10px;
  vertical-align: top;
}
.download_form {
  padding: 0;
  margin: 0 auto;
}
.download_form td {
  padding: 4px 8px;
  vertical-align: top;
}
.download_form input[type="radio"] {
  margin-right: 8px;
}
.download_form input[type="text"].small_input {
  width: 200px;
}
.download_form input[type="text"] {
  width: 400px;
}
