<div class="footer_wrap">
<div class="footer">
<div>
<!--
<b>ngsutilsj, cgpipe, and others</b><br/>
Copyright &copy;2013-2016<br/>
The Board of Trustees of Leland Stanford Junior University<br/>
<br/>
<b>NGSUtils</b><br>
Copyright &copy;2010-2012<br/>
The Trustees of Indiana University<br/>
<br/>
-->
<b>compgen.io</b><br/>Copyright &copy;2016 - Marcus R. Breese
<br/><br/>
<a href="http://github.com/compgen-io">http://github.com/compgen-io</a><br/>
<a href="http://github.com/mbreese">http://github.com/mbreese</a><br/>
<a href="http://github.com/ngsutils">http://github.com/ngsutils</a><br/>
</div>
</div>
</div>
