<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<div class="header_wrap">
<div class="header">
  <div class="logo"><a href="/"><img src="/img/compgen-logo.png" alt="compgen.io"/></a></div>
  <div class="slogan">data wrangling for<br/>computational genomics</div>
  <ul class="links">
      <li class="links dropdown">
          <a href="/projects" style="padding-right: 0;"><i class="fa fa-cogs"></i>&nbsp;Projects</a>
          <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-left: 2px;" id="dropdownMenu1">
            <span class="fa fa-sort-down"></span>
            <span class="sr-only">Toggle Projects Dropdown</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li class="dropdown-header">NGS data analysis</li>
            <li><a href="/ngsutilsj">ngsutilsj (newer)</a></li>
            <li><a href="/ngsutils">NGSUtils (older)</a></li>
            <li><a href="/cgsplice">cgsplice</a></li>
            <li><a href="/sqz">SQZ</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Data analysis pipelines</li>
            <li><a href="/cgpipe">cgpipe</a></li>
            <li><a href="/sbs">SBS</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Misc. tools</li>
            <li><a href="/basespace-download">Basespace-download</a></li>
            <!--<li><a href="/sjq">Simple Job Queue (SJQ)</a></li>-->
            <li><a href="/swalign">swalign</a></li>
            <li><a href="/tabutils">tabutils</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Programming libraries</li>
            <li><a href="/compgen-common">compgen-common</a></li>
            <li><a href="/compgen-cmdline">compgen-cmdline</a></li>
          </ul>
      </li>
      <li class="links"><a href="/tutorials"><i class="fa fa-book"></i>&nbsp;Tutorials</a></li>
<!--
      <li class="links"><a href="/download"><i class="fa fa-download"></i> Downloads</a></li>
-->
      <li class="links"><a href="/citations"><i class="fa fa-external-link-squaref"></i> Citations</a></li>
      <li class="links"><a href="/contact"><i class="fa fa-question-circle"></i>&nbsp;Contact</a></li>
<!--
      <li>
          <!- - from: https://buttons.github.io/ - ->
          <!- - Place this tag where you want the button to render. - ->
          <a class="github-button" href="https://github.com/compgen-io/compgen-io.github.io" data-icon="octicon-star" data-style="mega" aria-label="Star compgen-io/compgen-io.github.io on GitHub">Star</a>
      </li>
-->
<!--
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact <span class="caret"></span></a>
    <div class="dropdown-menu dropdown-menu-right" style="width: 360px; padding: 20px 26px;">
      For more information or questions, please contact:<br/>
      <p style="margin-left: 20px; margin-top: 12px;">
      Marcus R. Breese, PhD<br/>
      Staff Scientist<br/>
      <a href="http://sweetcorderolab.stanford.edu">Sweet-Cordero Lab</a><br/>
      Dept. of Pediatrics, Hematology/Oncology<br/>
      Stanford University School of Medicine<br/>
      <br/>
      <i>mbreese@stanford.edu</i><br/>
      </p>
    </div>
  </li>
-->
  </ul>
  <div class="clearing">&nbsp;</div>
</div>
</div>
