<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ site.Title }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ site.Params.subtitle }}{{ end }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Source+Code+Pro:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
  <link rel="icon" href="{{ "favicon.ico" | relURL }}" sizes="any">
  <link rel="icon" href="{{ "favicon-32x32.png" | relURL }}" type="image/png" sizes="32x32">
  <link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | relURL }}">
</head>
