<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">

    {{ partial "meta.html" . }}

    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Site.Title }} - data wrangling for computational genomics</title>
    <link rel="canonical" href="{{ .Permalink }}">

    {{ partial "head_includes.html" . }}
</head>
<body lang="en">

{{ partial "header.html" . }}

<div class="main_wrap">
  <section id="main">
  	<div class="rightbar">
  		<h2>Projects</h2>
  		<ul>
  			<li><a href="/ngsutilsj">ngsutilsj</a> (newer)</li>
  			<li><a href="/ngsutils">NGSUtils</a> (older)</li>
  			<li><a href="/cgpipe">cgpipe</a></li>
  			<li><a href="/cgpipe">cgsplice</a></li>
  		</ul>
  	</div>
  	<div class="leftbar">
    <h1 id="title">Welcome</h1>
    <div>
          <article id="content">
          	<p>
          	<span class="compgen">compgen.io</span> is the home for a series of tools for computational genomics, particularly for next-generation 
          	sequencing analysis. Many of these tools came from programs written to support specific in-house analysis efforts. They are offered 
            here as a resource for others to use and adapt for their own projects and workflows.
          	</p>
            <p>&nbsp;</p>
<!--
            <p>
              Major efforts include: <a href="/ngsutilsj">ngsutilsj</a>, <a href="/cgpipe">cgpipe</a>, and the older <a href="/ngsutils">NGSUtils</a>
            </p>
            <p>&nbsp;</p>
-->
            <p style="text-align:center;">
              <b>Get started!</b> &nbsp; &nbsp; <i class="fa fa-arrow-right"></i> &nbsp; &nbsp;
              <a href="/projects" class="btn btn-primary"><i class="fa fa-cogs"></i> Projects</a> &nbsp;
              <a href="/tutorials" class="btn btn-primary"><i class="fa fa-book"></i> Tutorials</a>
            </p>


          </article>
    </div>
	</div>
  </section>
</div>

{{ partial "footer.html" . }}
</body>
